* {
	box-sizing:border-box;
}

body {
	align-items:center;
	background:#7FDBFF;
	display:flex;
	font-family:Helvetica, sans-serif;
	justify-content:center;
}

.login-wrapper {
	width:20rem;	
}

h1 {
	font-size:2rem;
	margin-bottom:2rem;
}

input, button {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	font-size:1.5rem;
	height:3rem;
	padding:.5rem;
	width:100%;
}

input {
	border:1px solid gray;
	margin-bottom:1rem;
}

button {
	background:#0074D9;
	border:1px solid white;
	color:white;
}
